<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Névváltás</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                    <input type="email" id="form-name" [formControl]="renameUser" class="form-control"
                           mdbInput mdbValidate>
                    <label for="form-name">Új felhasználónév</label>
                    <mdb-error
                        *ngIf="renameUser.invalid && (renameUser.dirty || renameUser.touched)">

                        <span *ngIf="renameUser.errors.maxlength">Maximum 30 karakter.<br/></span>
                        <span *ngIf="renameUser.errors.minLength">Minimum 4 karakter.<br/></span>
                        <span *ngIf="renameUser.errors.pattern">Nem tartalmazhat spacet, vagy üres karaktert.<br/></span>
                        <span *ngIf="renameUser.errors.required">Nem lehet üres.<br/></span>
                </mdb-error>
                    <mdb-success
                            *ngIf="renameUser.valid && (renameUser.dirty || renameUser.touched)">Ok
                    </mdb-success>
                </div>


            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="default"
                        [disabled]="renameUser.errors != null"
                        class="waves-light"
                        (click)="ProcessUsername()"
                        mdbWavesEffect>Váltás

                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="Loading" ></span></button>
            </div>
        </div>
    </div>
</div>
