<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Névváltás</h4>
        <button (click)="frame.hide()" aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon class="prefix grey-text" fas icon="user"></mdb-icon>
          <input [formControl]="renameUser" class="form-control" id="form-name" mdbInput
                 mdbValidate type="email">
          <label for="form-name">Új felhasználónév</label>
          <mdb-error
            *ngIf="renameUser.invalid && (renameUser.dirty || renameUser.touched)">

            <span *ngIf="renameUser.errors.maxlength">Maximum 30 karakter.<br/></span>
            <span *ngIf="renameUser.errors.minlength">Minimum 4 karakter.<br/></span>
            <span *ngIf="renameUser.errors.pattern">Nem tartalmazhat spacet, vagy üres karaktert.<br/></span>
            <span *ngIf="renameUser.errors.required">Nem lehet üres.<br/></span>
            <span *ngIf="renameUser.errors.nameexist">Valki már használja ezt a nevet<br/></span>
          </mdb-error>
          <span *ngIf="renameUser.pending">Név ellenörzése...</span>
          <mdb-success
            *ngIf="renameUser.valid && (renameUser.dirty || renameUser.touched)">Ok
          </mdb-success>
        </div>


      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="ProcessUsername()" [disabled]="renameUser.errors != null || renameUser.pending"
                class="waves-light"
                color="default"
                mdbBtn
                mdbWavesEffect>Váltás

          <span *ngIf="renameUser.pending" aria-hidden="true" class="spinner-border spinner-border-sm"
                role="status"></span></button>
      </div>
    </div>
  </div>
</div>
