<div class="col">
  <div class="row">
    <p *ngIf="CurrentText.length == 0" style="color: darkblue; font-style: italic">
      Hozzávaló pl: 85 dkg liszt
    </p>
    <p style="color: darkred" *ngIf="CurrentUnitInvalid">
      A választott hozzávaló nem nem használható ennél a hozzávalónál válassz másikat.</p>
    <p style="color: darkgreen" *ngIf="EverythinkOk">
      Minden jónak tűnik, Enter megnyomásával Hozzáadhatod a listához
    </p>
  </div>
  <div class="row" dropdown #dropdown>
    <input class="form-control add-ingredient-text"
           style="height: 2rem; width: 100%; background: rgba(255, 255, 255, .6)"
           autocomplete="disabled"
           type="text"
           [(ngModel)]="CurrentText"
           (keydown)="onKeyDown($event)">
    <div class="mt-2 dropdown-menu">
      <div *ngFor="let sugg of CurrentSuggestions; let i = index"
           [ngClass]="{'highlight': SelectedSuggestionIndex == i}">
        <a class="add-ingredient-text" (click)="AddCurrentSelectedOrDefaultSuggestionToText(sugg)">{{sugg.text}}</a>
      </div>
    </div>
  </div>
</div>
