<div class="row" dropdown #dropdown>
  <input class="add-ingredient-text"
         style="height: 2rem; width: 100%" autocomplete="disabled"
         type="text"
         (change)="SelectionChanged($event)"
         [(ngModel)]="CurrentText"
         (keydown)="onKeyDown($event)">
  <div class="mt-2 dropdown-menu">
    <div *ngFor="let sugg of CurrentSuggestions; let i = index"
         [ngClass]="{'highlight': SelectedSuggestionIndex == i}"><a class="add-ingredient-text">{{sugg.text}}</a></div>
  </div>
</div>
