    <!-- Search form -->
    <form class="form-inline form-sm align-self-center search-box d-flex"  #searchForm="ngForm" (submit)="SearchSubmitted()" name="form">
        <input class="form-control form-control-sm ml-3 w-responsive flex-grow-1" type="text"
               name="searchText" placeholder="Ételek vagy hozzávalók keresése" [ngModel]="searchService.Text"

               aria-label="Search"
               mdbInput>
        <mdb-icon fas icon="search" class="mr-3" aria-hidden="true"></mdb-icon>
    </form>
