<div class="container-fluid">
  <div class="d-flex align-items-center" style="width: 100%">
    <h5 class="mr-auto">Felhasználó név:  </h5>
    <h3 class="mr-auto">{{identityService.Identity.username}}</h3>
    <button mdbBtn color="blue" size="small" style="padding: 5px 8px 5px 8px" (click)="setUserName()">Változtatás</button>
  </div>
  <hr>
  <div class="d-flex align-items-center mt-3">
    <div class="mr-auto"></div>
    <button mdbBtn color="red" (click)="deleteAccount()">Fiók törlése</button>
    <div class="mr-auto"></div>
  </div>
</div>


<app-rename-modal #SetUsernameModal></app-rename-modal>
<app-confirm-delete-modal #DeleteModal></app-confirm-delete-modal>
