Cookta-server/dist/
Cookta-online/.firebase/
.vs/
Cooktapi/bin/
Cooktapi/obj/Debug/
Cooktapi/obj/
IngredientUpdater/bin/
IngredientUpdater/obj/
Kukta/bin/
Kukta/obj/
**/dist
Waxen/waxen-test/node_modules/
Waxen/node_modules/


**/*.env
**/.idea/*
