
<div class="row ml-0 mr-0 collection-section-title">
  <h2>Saját ételek</h2>
</div>
<div class="row m-0">
  <app-food-list style="width: 100%" [Expand]="true" [Foods]="OwnFoods"></app-food-list>
</div>

<div class="row ml-0 mr-0 collection-section-title">
  <h2>Családod ételei</h2>
</div>
<div class="row m-0">
  <app-food-list style="width: 100%" [Expand]="true" [Foods]="FamilyFoods"></app-food-list>
</div>

<div class="row ml-0 mr-0 collection-section-title">
  <h2>Lementett</h2>
</div>
<div class="row m-0">
  <app-food-list style="width: 100%" [Expand]="true" [Foods]="SubFoods"></app-food-list>
</div>


