<p *ngIf="BadUnits == []" class="font-italic" style="color: green">Nincsennek hibás mértékegység referenciák!</p>
<p *ngIf="BadUnits === undefined" class="font-italic">Hibás mértékegység referenciák betöltése...</p>
<p *ngIf="BadUnits === null" class="font-italic" style="color: darkred;">Nem lehetett a mértékegység referenciákat
    ellenőrizni!</p>
<div *ngIf="BadUnits && BadUnits.length > 0"
     class="rounded-panel error d-flex flex-column justify-content-left m-2 mr-5"
     style="width: 100%">
    <h4 class="m-3 mb-1" style="font-weight: bold">Hibás mértékegységek</h4>
    <hr style="width: 100%; color: black">
    <div *ngFor="let bUnit of BadUnits"
         class="d-flex flex-row  mr-3 ml-3"
         style="background: rgba(255, 255, 255, 0.3); border-radius: 5px; padding: 5px">
        <div class="flex-grow-1 d-flex flex-column">
            <div class="d-flex flex-row">
                <h5 class="mh-2">1</h5>
                <h5 class="flex-fill">{{unitService.GetDisplayName(bUnit.UnitId)}} {{ingredientService.GetIngredient(bUnit.IngredientId).name}}</h5>
                <h5 class="flex-fill">==></h5>
                <input [(ngModel)]="bUnit.Fix" class="flex-fill" type="number">
                <select [(ngModel)]="bUnit.FixUnit" class="flex-fill">
                    <option *ngFor="let u of unitService.GetAvailableUnitsFor(ingredientService.GetIngredient(bUnit.IngredientId)); index as i"
                            [ngValue]="u.id">{{u.name}}</option>
                </select>ł
                <h5 class="flex-fill"> {{ingredientService.GetIngredient(bUnit.IngredientId).name}}</h5>
            </div>
            <div class="d-flex flex-row font-italic ml-4">
                {{bUnit.Count}} referencia
            </div>
        </div>
        <button (click)="FixBadUnit(bUnit)"
                [disabled]="bUnit.Fix == undefined || bUnit.Fix <= 0 || !(bUnit.FixUnit?.length > 0)" color="orange"
                mdbBtn>Átváltás
        </button>
    </div>
</div>
