.user-item {
  font-size: 24px;
  padding: 3px;
  color: darkgray;
  width: 100%;
  font-weight: bold;
  transition: background-color 200ms;
}

.user-item:hover {
  background: rgba(255, 255, 255, 0.5);
}
