<div class="container-fluid" style="padding: 1.5rem 0 0 0; min-height: var(--MainContentSize)">
  <div class="row m-0">
    <div class="col">
    </div>
    <div class="col-6" style="padding: 50px">
      <div class="row">
        <div class="col">
          <app-food-image-upload #uploadComponent [EditMode]="false" [SourceUrl]="CurrentFood.ImageUrl" class="fillCol"
                                 InputHidden="true"></app-food-image-upload>
        </div>
        <div>
          <ul class="list-group list-group-vertical"
              style="background-color: transparent; margin-left: fill; width: 100%">
            <li class="list-group-item-2">
              <button mdbBtn type="button" color="mdb-color" class="fillCol"
                      (click)="uploadComponent.OpenInputDialog()">Képcsere
              </button>
            </li>
            <li class="list-group-item-2">
              <button (click)="DeleteImage()" class="fillCol" color="mdb-color" mdbBtn type="button">Kép törlése
              </button>
            </li>
            <li class="list-group-item-2" [hidden]="!uploadComponent.EditMode || !uploadComponent.EditAvailable">
              <button mdbBtn type="button" color="mdb-color" class="fillCol" (click)="uploadComponent.EditMode = false">
                Kész
              </button>
            </li>
            <li class="list-group-item-2" [hidden]="uploadComponent.EditMode || !uploadComponent.EditAvailable">
              <button mdbBtn type="button" color="mdb-color" class="fillCol" (click)="uploadComponent.EditMode = true">
                Szerkesztés
              </button>
            </li>
          </ul>
        </div>
      </div>

      <hr>

      <div class="row">

      </div>

      <div class="md-form form-lg">
        <input mdbInput type="text" id="form1" class="form-control form-control-lg" [(ngModel)]="CurrentFood.name"
               style="color: black; font-size: 30px">
        <label for="form1" style="color: black">Recept neve</label>
      </div>


      <div class="md-form">
        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control text-justify"
                  [(ngModel)]="CurrentFood.desc" mdbInput style=" font-size: 20px"></textarea>
        <label for="form7" >Leírás</label>
      </div>

    </div>
    <div class="col-4" style="padding-top: 5%">
      <h2 class="ingredients-title">Hozzávalók</h2>

      <app-food-ingredient class="ingredients-desc"
                           *ngFor="let ingredient of CurrentFood ? CurrentFood.ingredients : []"
                           [ingredient]="ingredient"
                           [edit]="true"
                           (OnDeleted)="DeleteIngredient($event)"></app-food-ingredient>

      <hr style="height: 20px">

      <app-ingredient-adder-seamless (OnIngredientAdded)="AddIngredient($event)"></app-ingredient-adder-seamless>

      <div style="height: 40px"></div>

      <hr>

      <div class="row m-3">
        <h5>A hozzávalók </h5>
        <input [(ngModel)]="CurrentFood.dose" class="small-number-field" label="Adag" placeholder="4" type="number">
        <h5>adagra elegendőek.</h5>
      </div>
      <hr>

      <div class="mr-3">
        <h3>Cimkék</h3>
        <div class="masonry-with-columns-2">
          <app-food-tag *ngFor="let tag of CurrentFood.tags" EditMode="true" (OnTagRemoveClick)="DeleteTag($event)"
                        [TagId]="tag.guid"></app-food-tag>
        </div>
        <app-tag-adder  (OnTagAdded)="AddTag($event)"></app-tag-adder>
      </div>

    </div>
  </div>

  <div style="height: 100px"></div>
</div>

<!-- Footer -->
<footer class="page-footer font-small red darken-3 fixed-bottom">

  <div class="row">
    <div class="col"></div>
    <button mdbBtn type="button" color="danger" rounded="true" mdbWavesEffect (click)="DeleteFood()"
            style="margin: 0 15px;">Törlés
    </button>
    <button *ngIf="CurrentFood.isPrivate" (click)="ChangeVisibility(true)" class="btn btn-primary">Tedd nyilvánossá</button>
    <button mdbBtn *ngIf="(CurrentFood.published && !CurrentFood.isPrivate) || !CurrentFood.isPrivate && !CurrentFood.published"
            (click)="ChangeVisibility(false)" class="btn"
            [ngClass]="{'btn-blue-grey': !CurrentFood.published, 'btn-danger': CurrentFood.published}">
      Legyen privát</button>
    <button mdbBtn type="button" color="deep-orange" rounded="true" mdbWavesEffect (click)="CancelEdit()"
            style="margin: 0 15px;">Elvetés
    </button>
    <button mdbBtn type="button" color="dark-green" rounded="true" mdbWavesEffect (click)="SaveFoodAndExit()"
            style="margin: 0 15px;">Mentés
    </button>
  </div>

</footer>

