<p>essentials-list works!</p>
<div class="rounded-panel" style="position: relative">
  <h2>Alaplista tartalma:</h2>
  <a (click)="ToggleEdit()">
    <mdb-icon class="icon edit-icon" size="fa-1x" *ngIf="!Editing" far icon="edit"></mdb-icon>
    <mdb-icon class="icon edit-icon" size="fa-1x" *ngIf="Editing" fas icon="edit"></mdb-icon>
  </a>
  <hr>
  <a [ngClass]="{'even': i % 2 == 0, 'odd': i % 2 == 1}" class="row rounded-panel-item" style="position: relative; font-weight: normal; padding: 5px; font-size: 20px"
    *ngFor="let item of m_items; let i = index">
    {{item.ValueName}} {{item.UnitName}} {{item.TypeName}}

    <mdb-icon *ngIf="Editing" class="icon edit-ingredient" far icon="trash-alt"></mdb-icon>
  </a>
</div>
