.family-label {
    background: #9B1B30;
}

.pd-tp-13 {
    padding-top: 13px;
}


mat-panel-title {
    width: 300px;
}

.nav-bar {
    width: 100vw !important;
    height: 48px;
    padding-right: 5px;
    background-color: var(--MainColor);
}

.nav {
    padding: 4px;
}

.nav li {
    float: left;
    padding: 0;
}

.nav-link {
    color: white;
}

.nav-item .dropdown-menu a {
    color: black;
}

.nav-link {
    padding: 0.5rem !important;
}

.sidebar .header {
    font-weight: bold;
    height: calc(3em + 0.5rem + 16px);
    border-bottom: 1px solid #FFFFFF44;
}

div:active {
    outline: none;
}

.sidebar .header h2 {
    color: white;
    font-family: 'Comic Sans MS', serif;
}

.sidebar .item {
    cursor: pointer;
    width: 100%;
    padding: 0.3rem 1rem;
}

.sidebar .item:hover {
    background-color: #FFFFFF55;
}

.sidebar .item:active {
    background-color: #FFFFFF77;
    font-style: italic;
}

.sidebar .item {
    font-size: 1.5rem;
    color: #ffffff;
    font-family: 'Comic Sans MS', serif;
}


.sidebar {
    position: absolute;
    top: 48px;
    left: -30px;
    width: 310px;
    padding-left: 30px;
    min-height: calc(100vh - 48px);
    max-width: 100vw;
    background: var(--MainColor);
    z-index: 51;
    transition: transform 250ms, left 250ms;
    transition-timing-function: ease-in-out;
}


.sidebar.open {
    left: -30;
    transform: scaleX(1);
}

.sidebar.collapsed {
    left: -170px;
    transform: scaleX(0);
}

.dark-back {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 49;
    background-color: #00000044;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;
}

.dark-back.show {
    opacity: 1;
}
