
<div class="d-flex flex-column" style="height: 100%;">
  <div class="container-fluid" style="padding: 0">
    <app-navigation-bar></app-navigation-bar>
  </div>
  <div class="container-fluid" style="padding: 0; background-color: blue;" *ngIf="LoadingState != 1">
    <h5 style="color: white; text-align: center">Alapanyagok letöltése...</h5>
  </div>
  <div class="container-fluid" style="padding: 0; background-color: black;">
    <h5 style="color: white; text-align: center">Ez egy fejlesztés alatt álló alkalmazás, az adataid elveszhetnek, és sérülhetnek. Ha receptek feltöltésébe fogsz vedd ezt figyelembe!</h5>
  </div>
  <div class="container-fluid flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>

