@import '../../food-item-shared.css';

.row-content-title {
  background: #922121;
  color: white;
  padding: 0.6rem 0 0 0.8rem;
}

.row-content-title h3 {

  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  .home-row {
    min-height: 50vw;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
@media only screen and (min-width: 601px) {
  .home-row {
    overflow: hidden;
  }
}
.home-row {
  position: relative;
}

.item-holder {
  position: absolute;
  height: 100%;
  background: green;
  top: 0;
  bottom: 0;
}

.row-item {
  height: 100%;
  position: relative;
  cursor: pointer;
}

.row-item img {
  height: 100%;
  width: auto;
}
