
<div class="container" style="height: var(--MainContentSize); overflow: auto">
  <p>shopping-list-root works!</p>
  <div class="row">
    <div class="col-auto">
      <h3>Következő vásárlás dátuma: </h3>
    </div>
    <div class="col-auto">
      <select disabled class="browser-default custom-select">
        <option selected>{{shoppingService.GetSelectedShoppingDate.toISOString().slice(0, 10)}}</option>
        <option value="1">{{GetDateStringWithOffset(1)}}</option>
        <option value="2">{{GetDateStringWithOffset(2)}}</option>
        <option value="3">{{GetDateStringWithOffset(3)}}</option>
        <option value="4">{{GetDateStringWithOffset(4)}}</option>
      </select>
    </div>
    <div class="col-1"></div>
    <div class="col-auto">
      <h3>Pakolás helye: </h3>
    </div>
    <div class="col">
      <select disabled class="browser-default custom-select">
        <option selected>{{SelectedSection ? SelectedSection.Name : "Névtelen szekció"}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="shoppingService.IsBusy || storageService.IsBusy; else loaded" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <ng-template #loaded>
    <app-shopping-list-panel #loaded ></app-shopping-list-panel>
  </ng-template>
</div>

