
<div class="container" style="height: var(--MainContentSize); overflow: auto">
  <a class="copy-to-list-a" (click)="CopyListToClipboard()" >Lista másolása a vágólapra</a>
  <div class="row">
    <div class="col-auto">
      <h3>Bevásárlás eddig: </h3>
    </div>
    <div class="col-auto">
      <select class="browser-default custom-select" (change)="ChangeNextShoppingDay($event.target['value'])">
        <option selected>{{shoppingService.GetSelectedShoppingDate.toISOString().slice(0, 10)}}</option>
        <option *ngFor="let i of [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]"
                [ngValue]="i">{{GetDateStringWithOffset(i)}}</option>
      </select>
    </div>
    <div class="col-1"></div>
    <div class="col-auto">
      <h3>Pakolás helye: </h3>
    </div>
    <div class="col">
      <select class="browser-default custom-select" >
        <option *ngIf="storageService.Sections.length < 1">{{SelectedSection ? SelectedSection.Name : "Névtelen szekció"}}</option>
        <option *ngFor="let section of storageService.Sections">{{section.Name}}</option>
      </select>
    </div>
  </div>
  <div *ngIf="shoppingService.IsBusy || storageService.IsBusy; else loaded" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <ng-template #loaded>
    <app-shopping-list-panel #loaded ></app-shopping-list-panel>
  </ng-template>
</div>

