// SCSS
// Masonry layout horizontal
//
.masonry-with-columns-2 {
  display: flex;
  flex-wrap: wrap;
}

.masonry-item {
  margin: 1rem;
}

.take-off {
  color: crimson !important;
}

.take-off:hover {
  color: #f2001a !important;
  text-decoration: underline !important;
}
