h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Arial Black";
}

.highlight {
  padding: 10px;
  transition: padding 0.3s;
}
.highlight:hover {
  padding: 0px;
}

.outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.inner_fixed {
  height: auto;
  background-color: grey;
  margin: auto;
}

.inner_remaining {
  flex-grow : 1;
}

.more-options-icon {
  height: 30px;
  right: 10px;
  top: 10px;
  position: absolute;
  transition: height 0.2s, right 0.2s, top 0.2s;
}
.more-options-icon:hover {
  height: 36px;
  right: 7px;
  top: 7px;
}

