h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: "Arial Black";
}

.highlight {
  padding: 10px;
  transition: padding 0.3s;
}
.highlight:hover {
  padding: 0px;
}

.outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.inner_fixed {
  height: auto;
  background-color: grey;
  margin: auto;
}

.inner_remaining {
  flex-grow : 1;
}
