

<div class="highlight">
  <a (click)="OnCardClick()" style="width: 100%; height: 100%" >
    <img class="food-image" style="z-index: 0" [src]="Food.ImageUrl"  alt="Card image cap">
    <div class="overlay" style="z-index: 0"></div>
    <h4 class="food-title" style="z-index: 0"><a>{{Food.name}}</a></h4>
  </a>
  <div mdbDropdown style="position: absolute; right: 10px; top: 10px" *ngIf="identityService.LastKnownUserInfo">
    <a mdbDropdownToggle class="more-options-icon-frame" *ngIf="identityService.LastKnownUserInfo['sub'] == Food.owner">
      <img src="assets/more-options-button.png">
    </a>
    <div class="dropdown-menu dropdown-primary">
      <button class="dropdown-item highlightBackground" [routerLink]="'/foods/' + Food.foodId">Megtekintés</button>
      <button class="dropdown-item highlightBackground" [routerLink]="'/foods/' + Food.foodId + '/edit'">Szerkesztés</button>
    </div>
  </div>
</div>
