
.ingredients-desc {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  font-size: 20px;
  color: inherit;
}

.ingredients-desc-value-input {
  margin: -3px 5px 5px;
  padding-top: 0;
  font-size: 20px;
  color: inherit;
  background: rgba(0, 0, 0, 0);
  min-width: 10px;
  max-width: 100px;
  border: 0 solid rgba(0, 0, 0, 0);
  transition: border .3s, margin .3s;
}

.ingredients-desc-value-input:hover {
  margin: -5px 3px 3px;
  border: 2px solid rgba(100, 100, 100, 0.7);
}

.ingredients-desc-value-input:focus {
  margin: -5px 5px 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid gray;
  padding-right: 10px;
}

[contenteditable] {
  outline: 0 solid transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

