<div mdbModal #basicModal class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true"
[config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" >{{CurrentGuid ? CurrentGuid : "Új, még nincs azonosító"}}</h4>
      </div>
      <div class="modal-body" style="overflow: auto; max-height: 60vh">
        <div class="md-form" [ngClass]="{'is-invalid-fail-mdbInput': !IsValidIngredientName(CurrentName)}">
          <input mdbInput type="text" [(ngModel)]="CurrentName" id="name" class="form-control">
          <label for="name" class="">Név</label>
        </div>

        <div class="md-form" [ngClass]="{'is-invalid-fail-mdbInput': !IsValidIngredientCategory(CurrentCategory)}">
          <input mdbInput type="text" [(ngModel)]="CurrentCategory" id="category" class="form-control">
          <label for="category" class="">Kategória</label>
        </div>

        <p class="start-paragraph">Alap mértékegység</p>
        <p *ngIf="CurrentCustomUnits.length > 0" class="font-italic">Csak akkor engedélyezett a változtatás ha
          nicnsennek egyéni mértékegységek</p>
        <select [(ngModel)]="CurrentBaseUnitType"
                [disabled]="CurrentCustomUnits.length > 0"
                class="browser-default custom-select">
          <option value="0">Térfogat (l)</option>
          <option value="1">Szám (darab)</option>
          <option value="2">Súly (g)</option>
        </select>


        <p class="start-paragraph">Egyéni mértékegységek</p>
        <!--        HEADER-->
        <div class="container">
          <div class="row">
            <div class="col-4">Név</div>
            <div class="col-4">Hány (g/db/l)</div>
            <div class="col-4">
              <button type="button" mdbBtn size="sm" color="green" (click)="PushNewUnit()">Új</button></div>
          </div>
        </div>
<!--        TABLE-->
        <div class="container">
          <div class="row" *ngFor="let unit of CurrentCustomUnits">
            <div class="col-5">
              <input mdbInput type="text" [(ngModel)]="unit.name" id="unitName" class="form-control"
                     [ngClass]="{'is-invalid-fail': !IsValidUnitName(unit.name)}">
            </div>
            <div class="col-3">
              <input mdbInput type="number" [(ngModel)]="unit.tobase" id="toBase" class="form-control"
                     [ngClass]="{'is-invalid-fail': !IsValidToBase(unit.tobase)}">
            </div>
            <div class="col-4">
              <button type="button" mdbBtn size="sm" color="red" (click)="DeleteCustomUnit(unit)">Törlés</button>
            </div>
          </div>
        </div>


        <p class="start-paragraph">Tápérték</p>
        <!--        HEADER-->
        <div class="container">
          <div class="row">
            <div class="col-4">
              <input mdbInput type="number" [ngModel]="CurrentNutrient ? CurrentNutrient.code : -1" disabled class="form-control">
            </div>
            <div class="col">
              <app-auto-complete #nutrientSelector [SuggestionPool]="this.DisplayNutrients" [MaxItemsToShow]="40" (OnItemChosen)="SelectNutrient($event)"></app-auto-complete>
            </div>
            <div *ngIf="CurrentNutrient" class="col-auto">
              <a (click)="SelectNutrient(undefined)" class="icon">
                <mdb-icon fas icon="times" size="lg"></mdb-icon>
              </a>
            </div>
          </div>
          <div *ngIf="!CurrentNutrient" style="height: 13rem"></div>
          <div *ngIf="CurrentNutrient">
            <div class="row"><div class="col">Kalória: <div class="col">{{CurrentNutrient.kcal}}</div></div></div>
            <div class="row"><div class="col">Zsír: <div class="col">{{CurrentNutrient.totalFat}}</div></div></div>
            <div class="row"><div class="col">Fehérje: <div class="col">{{CurrentNutrient.protein}}</div></div></div>
            <div class="row"><div class="col">Szénhidrát: <div class="col">{{CurrentNutrient.carbohydrate}}</div></div></div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="yellow" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Mégse</button>
        <button type="button" mdbBtn color="green" class="relative waves-light" [disabled]="!SaveEnabled" (click)="SaveCurrent()" mdbWavesEffect>Mentés</button>
      </div>
    </div>
  </div>
</div>
