
<div class="container">
    <h3>Funkciók</h3>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Receptek
                </mat-panel-title>
                <mat-panel-description>
                    Reptekre lesz szükséged a menüd, és a bevásárlőlistáid elkészítéséhez.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>A programban két módon juthatunk receptekhez. Használhatjuk mások nyilvános receptjeit, és beírhatjuk a sajátjainkat.
                Nyilvános receptek böngészéséhez kattints a menüben a Receptek menüpontra vagy a Cookta ikonra.
                A receptek menüpontra kattintva egy kereső ablakot lehet elérni ahol kulcsszavas keresést végezhetünk a recepteken (fejlesztés alatt áll a találatok pontosítása).</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Receptek kezelése
                </mat-panel-title>
                <mat-panel-description>
                    Az alkmalmazásban lévő receptes oldalon kívül csak a saját vagy a lementett receptjeinkel kell foglalkoznunk.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>A receptek lementéséhez be kell jelentkeznünk. Ha bejelentkeztünk a recept oldal felkeresése után a mentés gyüjteménybe gombra kell kattintanunk. Ezután a receptet a gyüjtemény oldalon találjuk.
            FIGYELEM: Ha a receptet a feltöltő törli a mi gyüjteményünkből is eltűnik. A menübe betervezett példányai továbbra is a helyükön maradnak.<p>
        </mat-expansion-panel>
        <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Menütervezés
                </mat-panel-title>
                <mat-panel-description>
                    A menütervező segít ha nincs ötleted mit főzz.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p><p>
        </mat-expansion-panel>
        <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Kamra
                </mat-panel-title>
                <mat-panel-description>
                    A kamrába írjuk be mi van otthon, innen tudja az alkalmazás hogy mi hiányzik a betervezett ételekhez.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p><p>
        </mat-expansion-panel>
        <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Alalplista
                </mat-panel-title>
                <mat-panel-description>
                    Az alaplista azoknak az alapanyagoknak a listálya amit mindig kell otthon tartanunk, ilyan lehet tipikusan a só, és a cukor
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p><p>
        </mat-expansion-panel>



        <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Bevásárló lista
                </mat-panel-title>
                <mat-panel-description>
                    Mint egy rendes bevásárlólista, viszont ez mindig friss és kéznél van.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p><p>
        </mat-expansion-panel>
        <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Leltárazás
                </mat-panel-title>
                <mat-panel-description>
                    --Tervezett-- Bevásárló lista 1 hétre 15 perc alatt, nem felejtessz ki semmit.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p><p>
        </mat-expansion-panel>
        <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Vásárlás előzmények
                </mat-panel-title>
                <mat-panel-description>
                    --Tervezett--
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p><p>
        </mat-expansion-panel>
        <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Vásárlás előzmények
                </mat-panel-title>
                <mat-panel-description>
                    --Tervezett--
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p><p>
        </mat-expansion-panel>
        <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Költség alapú menütervezés
                </mat-panel-title>
                <mat-panel-description>
                    --Tervezett--
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p><p>
        </mat-expansion-panel>
    </mat-accordion>
</div>

