<div class="row">
    <!--  <div class="col-3"></div>-->
    <div class="col-3">
        <button (click)="AddCurrentMealToDay()" [color]="MenuDayComponent.SelectedItem ? 'green': 'orange'" mdbBtn
                style="width: 100%; padding: 1rem 0 1rem 0"
                type="button">{{MealName}}</button>
    </div>
    <div class="col-9">
        <div class="row" style="height: 100%">
            <div  *ngFor="let meal of displayMeals"
               [ngClass]="{
         'bcg-red': meal.sourceMeal.type != 'final',
         'bcg-green': meal.sourceMeal.type == 'final',
         'hover': DoseEdit.displayMeal == meal}"
               class="meal-panel">

                <div *ngIf="meal.ObjFood; else loading">
                    <img [alt]="meal.ObjFood.name" src="{{GetFoodUrl(meal.ObjFood)}}">
                    <div class="meal-panel-overlay">
                        <h5>{{meal.ObjFood.name}}</h5>
                        <h6 *ngIf="meal.sourceMeal.type == 'tag'">{{tagService.GetTag(meal.sourceMeal.info.tagId).displayName()}}</h6>
                        <a style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;" (click)="OpenFoodForMeal(meal)"></a>
                        <a (click)="RefreshMeal(meal)" *ngIf="meal.sourceMeal.type == 'tag'">
                            <img [ngClass]="{'refresh-icon-loading': meal.Refreshing}" alt="refresh"
                                 class="icon bottom-right"
                                 src="assets/refresh-icon.png">
                        </a>
                        <a (click)="DeleteMeal(meal)">
                            <img alt="delete" class="icon right-top" src="assets/trash-icon.png">
                        </a>
                        <a (click)="FinalizeMeal(meal)">
                            <img [ngClass]="{'unpinned': meal.sourceMeal.type != 'final', 'pinned': meal.sourceMeal.type == 'final'}"
                                 alt="finalize"
                                 class="icon left-top"
                                 src="assets/finalize-icon.png">
                        </a>
                        <a (click)="EditDoseFor(meal)" *ngIf="meal.sourceMeal.type == 'final'" class="icon bottom-right"
                           style="width: auto; color: white">
                            <p>
                                {{meal.sourceMeal.dose}}
                                <mdb-icon class="white-text" fas icon="user"></mdb-icon>
                            </p>
                        </a>
                        <div (mouseleave)="DoseEdit.displayMeal = undefined"
                             [ngClass]="{'show': DoseEdit.displayMeal == meal}"
                             class="dropdown-menu">
                            <form (ngSubmit)="SetMealDose(doseForm.value, meal)" [formGroup]="doseForm"
                                  class="px-4 py-3">
                                <div class="form-group">
                                    <input class="form-control" formControlName="dose" id="dose" placeholder="4"
                                           type="number">
                                </div>
                                <button class="btn btn-primary" type="submit">Beállítás</button>
                            </form>
                        </div>
                    </div>
                </div>

                <ng-template #loading>
                    <a (click)="DeleteMeal(meal)" *ngIf="!meal.ObjFood">
                        <img alt="default" src="https://kuktaimages.blob.core.windows.net/application/dish.png">
                        <div class="d-flex justify-content-center d-flex align-items-center"
                             style="background: rgba(0, 0, 0, 0.5) ;position: absolute; top: 0; height: 100%; width: 100%;">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </a>
                </ng-template>

            </div>
        </div>

    </div>
</div>
