
@import '../menu-shared.css';

.meal-panel {
  margin: 5px;
  position: relative;
  padding-bottom: 5px;
}

.bcg-red {
  background-color: darkred;
}
.bcg-green {
  background-color: green;
}

.meal-panel img {
  height: 9rem;
}

.refresh-icon-loading {
  animation: rotation 3s infinite linear;
}

.unpinned {
  transform: rotate(45deg);
  transition: transform 1s;
}
.pinned {
  transform: rotate(0);
  transition: transform 1s;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
