

<div class="shopping-panel" style="overflow: auto;"
     *ngIf="shoppingListService.CurrentShoppingList && unitService.LastLoadedUnits.length > 0 && ingredientService.LastLoadedTypes.length > 0">


  <h4>Vásárlás</h4>
  <p *ngIf="shoppingListService.CurrentShoppingList.IngredientsToBuy.length == 0"></p>

  <div class="rounded-panel-item" style="cursor: default; position: relative" *ngFor="let ing of shoppingListService.CurrentShoppingList.IngredientsToBuy">
    <a (click)="ShowItemSources(ing)" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></a>
    <div class="row shopping-item-content">
      <label>{{ing.value}}</label>
      <label class="shopping-item-label">{{unitService.GetUnit(ing.unit, ingredientService.GetIngredient(ing.ingredientID)).name}}</label>
      <label>{{ingredientService.GetIngredient(ing.ingredientID).name}}</label>
      <a (click)="shoppingListService.SetComplete(ing.ingredientID, true)"
         class="icon icon-ok">
        <mdb-icon fas icon="check" size="lg"></mdb-icon>
      </a>

      <a (click)="shoppingListService.SetCanceled(ing.ingredientID, true)"
         class="icon icon-x">
        <mdb-icon fas icon="times" size="lg"></mdb-icon>
      </a>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-auto"><h4>Kosárban</h4></div>
    <div class="col"></div>
    <div class="col-auto"><a (click)="finishModal.Show()">Vásárlás befejezése és elpakolás</a></div>
    <div class="col-1"></div>
  </div>
  <p *ngIf="shoppingListService.CurrentShoppingList.IngredientsCompleted.length == 0">
    Még semmi nincs itt.
  </p>
  <div class="rounded-panel-item" style="cursor: default; position: relative" *ngFor="let ing of shoppingListService.CurrentShoppingList.IngredientsCompleted">
    <div class="row shopping-item-content no-left-x">
      <label>{{ing.Ingredient.value}}</label>
      <label class="shopping-item-label">{{unitService.GetUnit(ing.Ingredient.unit, ingredientService.GetIngredient(ing.Ingredient.ingredientID)).name}}</label>
      <label>{{ingredientService.GetIngredient(ing.Ingredient.ingredientID).name}}</label>
      <a (click)="shoppingListService.SetComplete(ing.Ingredient.ingredientID, false)"
         class="icon icon-ok">
        <mdb-icon fas icon="times" size="lg"></mdb-icon>
      </a>
    </div>
  </div>
  <hr>
  <h4>Nem veszem meg</h4>
  <p *ngIf="shoppingListService.CurrentShoppingList.IngredientsCanceled.length == 0">
    Még semmi nincs itt.
  </p>
  <div class="rounded-panel-item" style="cursor: default; position: relative" *ngFor="let ing of shoppingListService.CurrentShoppingList.IngredientsCanceled">
    <div class="row shopping-item-content no-left-x">
      <label>{{ing.value}}</label>
      <label class="shopping-item-label">{{unitService.GetUnit(ing.unit, ingredientService.GetIngredient(ing.ingredientID)).name}}</label>
      <label>{{ingredientService.GetIngredient(ing.ingredientID).name}}</label>
      <a (click)="shoppingListService.SetCanceled(ing.ingredientID, false)"
         class="icon icon-ok">
        <mdb-icon fas icon="times" size="lg"></mdb-icon>
      </a>
    </div>
  </div>
  <hr>
</div>

<app-finish-shopping-modal #finishModal></app-finish-shopping-modal>
<app-shopping-item-modal></app-shopping-item-modal>
