<input type="file" (change)="fileChangeEvent($event)" [hidden]="InputHidden" #fileInput/>

<image-cropper [hidden]="!EditMode"
               [imageChangedEvent]="ImageChangedEvent"
               [maintainAspectRatio]="true"
               [resizeToWidth]="1024"
               format="png"
               [outputType]="'both'"
               (imageCropped)="imageCropped($event)"
               (imageLoaded)="imageLoaded()"
               (cropperReady)="cropperReady()"
               (loadImageFailed)="loadImageFailed()"
               #ImageCropper
               style="width: 100%"
></image-cropper>


<img [hidden]="EditMode" [src]="CroppedImage ? CroppedImageBase64: SourceUrl" alt="Food_image" style="width: 100%"/>
