<div mdbModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Pár kattintással kész..</h4>
            </div>
            <div class="modal-body pl-md-3 pr-md-3" style="max-height: 60vh; overflow: auto">
                <div class="row">
                    <div class="col">Mennyit</div>
                    <div class="col-4">Mit</div>
                    <div class="col-3">Hova</div>
                    <div class="col-auto">Mennyiért</div>
                </div>
                <hr style="margin-top: 0">
                <div class="row m-2 shopping-item-row"
                     *ngFor="let shopped of shoppingService.CurrentShoppingList.IngredientsCompleted">
                    <div class="col pl-0">
                        <app-shopping-quantity-box [Item]="shopped"></app-shopping-quantity-box>
                    </div>
                    <div class="col-4">
                        <h6>{{ingredientService.GetIngredient(shopped.Ingredient.ingredientID).name}}</h6></div>
                    <div class="col-3 btn-group" mdbDropdown>
                        <a class="link" mdbDropdownToggle>
                            {{storageService.GetStorageSection(shopped.ShippingSectionId)?.GetDisplayName()}}
                        </a>

                        <div class="dropdown-menu">
                            <a *ngFor="let section of storageService.Sections"
                               (click)="setTargetSection(shopped, section.Id)"
                               class="dropdown-item">{{section.GetDisplayName()}}</a>
                        </div>
                    </div>
                    <div class="col-auto p-0">

                        <input class="" size="1" style="width: 100px" type="number" [(ngModel)]="shopped.Price" (focusout)="SavePrice(shopped)" [placeholder]="'Ár ft'">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" mdbBtn color="yellow" class="waves-light" aria-label="Close"
                        (click)="modal.hide()" mdbWavesEffect>Vissza
                </button>
                <button type="button" mdbBtn color="#8b0000" class="relative waves-light" mdbWavesEffect
                        (click)="shoppingService.FinishShoppingList(false)">Vásárlás
                    Törlése
                </button>
                <button type="button" mdbBtn color="green" class="relative waves-light" mdbWavesEffect
                        (click)="shoppingService.FinishShoppingList(true)">Vásárlás
                    befejezése
                </button>
            </div>
        </div>
    </div>
</div>
