<div class="row dropdown open norounding">
  <div class="col-4 norounding">
    <app-auto-complete #TypeSelector [SuggestionPool]="ingredientService.IngredientTypes"
                       PlaceholderText="Hozzávaló" (OnItemChosen)="OnTypeSelected($event)"
                       style="color: inherit"></app-auto-complete>
  </div>
  <div class="col-3 fillHeight">
    <div class="md-form norounding">
      <input style="color: inherit" autocomplete="off" type="number" class="form-control" [id]="Id + 'numberInput'" mdbInput
             [(ngModel)]="CurrentValue">
      <label [for]="Id + 'numberInput'" style="color: inherit">Mennyiség</label>
    </div>
  </div>
  <div class="col-3 fillHeight norounding">
    <div class="btn-group" mdbDropdown>
      <a mdbDropdownToggle type="button" mdbBtn color="yellow" class="dropdown-toggle waves-light"
         style="padding: 3px; margin: 8px; color: inherit"
         mdbWavesEffect>
        {{CurrentUnit ? CurrentUnit.name : 'Mérték'}}
      </a>

      <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" *ngFor="let unit of AvailableUnits" (click)="OnUnitSelected(unit)">{{unit.name}}</a>
      </div>
    </div>
  </div>
  <a *ngIf="ShowAddButton"><img src="assets/ingredient-add-icon.png" class="mini-round-icon" (click)="AddIngredient()"
          [ngClass]="{'mini-round-icon-disabled': !Done}"></a>
</div>
