  <!-- Card -->
  <div class="card" style="width: 300px; margin: 10px">
    <a href="#">

    <!-- Card image -->
    <img class="card-img-top" [src]="Food.ImageUrl"  alt="Card image cap">

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title"><a>{{Food.name}}</a></h4>
      <!-- Text -->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    </div>
    </a>

  </div>
  <!-- Card -->
