<div class="container-fluid p-2" style="height: var(--MainContentSize); overflow: auto">
  <div class="row m-0 p-0">
    <div class="col-auto m-1 p-0 " style="height: 550px; width: 550px; background: red">
      <app-square-home-content [Data]="Content.Square"></app-square-home-content>
    </div>
    <div class="col m-0 p-0">
      <div class="row m-0 p-1" style="height: 50%;">
        <div class="" style="background: red; height: 100%; width: 100%">

        </div>
      </div>
      <div class="row m-0 p-1" style="height: 50%;">
        <div class="" style="background: red; height: 100%; width: 100%">

        </div>
      </div>
    </div>
  </div>
  <div class="row m-0 p-0">
    <div class="big-content-row"></div>
    <div class="small-content-row m-1"></div>

    <div class="small-content-row m-1"></div>
    <div class="big-content-row"></div>
    <div class="small-content-row m-1"></div>
    <div class="small-content-row m-1"></div>
  </div>
</div>
