.small-content-row {
    background: red;
    height: 28vh;
    width: 100%;
    margin: 0.25rem;
}

.big-content-row {
    background: red;
    height: 40vh;
    width: calc(100% + 1rem);
    margin: 0.25rem -0.5rem;
}


@media only screen and (max-width: 770px) {
    .spec-row {
        background: red;
        height: 50vw;
        width: 100%
    }
}

@media only screen and (min-width: 771px) {
    .spec-row {
        background: red;
        height: 100%;
        width: 100%
    }
}
