.small-content-row {
    background: red;
    width: 100%;
    margin: 0.25rem;
}

.big-content-row {
    background: red;
    width: calc(100% + 1rem);
    margin: 0.25rem -0.5rem;
}


@media only screen and (max-width: 770px) {
    .spec-row {
        background: red;
        height: 38vh;
        width: 100%
    }

    .big-content-row {
        height: 55vh;

    }

    .small-content-row {
        height: 38vh;

    }

}

@media only screen and (min-width: 771px) {
    .spec-row {
        background: red;
        height: 100%;
        width: 100%
    }

    .big-content-row {
        height: 55vh;

    }

    .small-content-row {
        height: 38vh;

    }
}
