/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/



/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
  background-color: #FFFFFF;
}
body{
  height: 100%;
}
.fill{
  height: 100%;
}

.login-background {
  background: #ac4c00 url('assets/login-background.jpg') no-repeat center;
  background-size: cover;
}

.mini-round-icon {
  margin: 0 6px  9px 16px;
  width: 28px;
  filter: brightness(1);
  transition: filter 0.2s, margin 0.2s, width 0.2s;
}
.mini-round-icon:hover {
  margin: 0 3px  3px 10px;
  width: 34px;
  filter: brightness(1.5);
}
.mini-round-icon-disabled {
  margin: 0 3px 3px 10px;
  width: 24px;
  filter: grayscale(100%);;
}
.mini-round-icon-disabled:hover {
  margin: 0 3px 3px 10px;
  width: 24px;
  filter: grayscale(100%);
}

:root {
  --MainContentSize: calc(100vh - 72px);
}



/* CONTENT FOR COOKTA*/


.icon {
  position: absolute;
  opacity: .5;
  border-radius: 2px;

  transition: opacity 0.2s, box-shadow 0.2s;
}

.icon:hover {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  opacity: 1;
  background: rgba(255, 255, 255, 0.4);
}

.rounded-panel {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 30rem;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.rounded-panel.error {
  background: rgb(255, 96, 96);
}

.small-number-field {
  background: rgba(255, 255, 255, .2);
  margin: 0 .5rem .5rem;
  width: 3.3rem;
  border-color: rgba(0, 0, 0, 0.3);
}


.odd {
}
.even {
  background: rgba(0, 27, 255, 0.06);
}

.rounded-panel-item {
  margin: 0 1.3rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0.3rem;
  cursor: pointer;
}

.rounded-panel-item:hover {
  background: rgba(0, 210, 255, 0.5);
}

.rounded-panel-item label {
  font-size: 20px;
  cursor: pointer;
}

.span-input-growing {
  margin: -3px 5px 5px;
  padding-top: 0;
  font-size: 20px;
  color: inherit;
  background: rgba(0, 0, 0, 0);
  min-width: 10px;
  max-width: 100px;
  border: 0 solid rgba(0, 0, 0, 0);
  transition: border .3s, margin .3s;
}

.span-input-growing:hover {
  margin: -5px 3px 3px;
  border: 2px solid rgba(100, 100, 100, 0.7);
}

.span-input-growing:focus {
  margin: -5px 5px 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid gray;
  padding-right: 10px;
}

[contenteditable] {
  outline: 0 solid transparent;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}




/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C77;
  transition: background-color 300ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A33;
}
