/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
  background-color: #f09a00;
}
body{
  height: 100%;
  background-color: #f09a00;
}
.bg{
  background-image: url("https://kuktaimages.blob.core.windows.net/application/login-background.png");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  background-position: center;
}
.fill{
  height: 100%;
}
