<div class="container-fluid main-content">
    <div class="row">
        <div class="col-8"  >
            <ngx-treeview (selectedChange)="selectedChange($event)"
                          #treeview
                          [config]="{hasAllCheckBox: false,hasFilter: true,
                                  hasCollapseExpand: true,
                                  decoupleChildFromParent: false,
                                  maxHeight: undefined}"
                          [items]="this.TreeItems"></ngx-treeview>
        </div>
        <div class="col-4" style="background-color: lightgrey; border: 0.5px solid black; height: 100%" *ngIf="SelectedTag">
            <input [(ngModel)]="SelectedTag.name" (focusout)="SaveCurrentTag()"/>
            <app-auto-complete [SuggestionPool]="tagService.Tags" (OnItemChosen)="SetSelectedParent($event)"></app-auto-complete>
        </div>
    </div>
</div>
