<!--<div class="d-flex fill flex-column bg">-->
<!--  <div style="flex: 2; height: auto; width: available"></div>-->
<!--  <img class="mr-auto ml-auto img-fluid"-->
<!--       style="flex: 1; height: 20%;"-->
<!--       src="https://kuktaimages.blob.core.windows.net/application/kukta-logo-white.png"-->
<!--  >-->
<!--  <div style="flex: 5"></div>-->

<!--  <div class="mt-auto footer">-->
<!--    <p align="center">A Cookta jelenleg csak privát tesztelésen keresztül érhető el.<p></div>-->
<!--</div>-->
<app-root-component></app-root-component>
