<div class="col" style="height: var(--MainContentSize); overflow-x: hidden; overflow-y: auto">
  <div class="row">
    <button (click)="NavDay(-1)" color="red" mdbBtn>Előző</button>
    <div class="col">
      <h4 style="text-align: center; padding: 10px">{{CurrentDay.date}} - {{GetCurrentDayName(CurrentDay.date)}}</h4>
    </div>
    <button (click)="NavDay(1)" color="red" mdbBtn>Következő</button>
  </div>
  <div>
    <app-menu-mealing (AddMealToDay)="AddItemToDay($event)" [MealName]="'Reggeli'" [MealType]="0"
                      [MenuDayComponent]="this"></app-menu-mealing>
    <app-menu-mealing (AddMealToDay)="AddItemToDay($event)" [MealName]="'Tízórai'" [MealType]="1"
                      [MenuDayComponent]="this"></app-menu-mealing>
    <app-menu-mealing (AddMealToDay)="AddItemToDay($event)" [MealName]="'Ebéd'" [MealType]="2"
                      [MenuDayComponent]="this"></app-menu-mealing>
    <app-menu-mealing (AddMealToDay)="AddItemToDay($event)" [MealName]="'Uzsonna'" [MealType]="3"
                      [MenuDayComponent]="this"></app-menu-mealing>
    <app-menu-mealing (AddMealToDay)="AddItemToDay($event)" [MealName]="'Vacsora'" [MealType]="4"
                      [MenuDayComponent]="this"></app-menu-mealing>
    <app-menu-mealing (AddMealToDay)="AddItemToDay($event)" [MealName]="'Utóvacsora'" [MealType]="5"
                      [MenuDayComponent]="this"></app-menu-mealing>
    <app-menu-mealing (AddMealToDay)="AddItemToDay($event)" [MealName]="'Nasi'" [MealType]="6"
                      [MenuDayComponent]="this"></app-menu-mealing>
  </div>
</div>
